@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Source+Code+Pro&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  background: rgba(145, 244, 255, 0.49);
  background: -webkit-radial-gradient(circle, rgba(145, 244, 255, 0.49) 0%, rgba(7, 191, 233, 0.95) 100%);
  background: radial-gradient(circle, rgba(145, 244, 255, 0.49) 0%, rgba(7, 191, 233, 0.95) 100%);
}

.container {
  box-shadow: 0px 0px 7px 1px rgb(0 0 0 / 23%);
  padding: 20px;
  margin: 20px;
  max-width: 100%;
  /* overflow: hidden; */
  /* height: 100%; */
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.header {
  display: flex;
  color: rgb(0, 0, 0);
  justify-content: space-between;
  margin-top: 10px;
  font-weight: 600;
}

.delete-btn {
  cursor: pointer;
  color: rgb(218, 10, 10);
  font-weight: 600;
  background: none;
  border: none;
}

.delete-btn:hover {
  text-decoration: underline 2px;
}

.all-image-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  width: 100%;
}

.first-image-div {
  grid-row: span 2;
  grid-column: span 2;
  height: 305px;
  width: 305px;
  overflow: hidden;
}

.other-image-div {
  height: 150px;
  width: 150px;
  overflow: hidden;
}

.image-container {
  position: relative;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.401);
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: .7s ease;
  opacity: 0;
  border-radius: 8px;
}

.white-blank-box {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 0;
  width: 15px;
  height: 15px;
  color: #fff;
  display: none;
}

.image-container:hover .overlay {
  opacity: .5;
}

.image-container:hover .white-blank-box {
  display: block;
}

.selected {
  position: relative;
}

.select-icon {
  display: none;
  position: absolute;
  top: 5px;
  left: 5px;
  right: 0;
  color: rgb(195, 0, 88);
  height: 15px;
  width: 15px;
}

.selected .select-icon {
  display: block;
}

.selected .overlay {
  opacity: .4;
  background-color: #585858;
}

#file {
  display: none;
}

.file-label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 150px;
  width: 150px;
  border-radius: 8px;
  border: 1px dashed rgb(0, 0, 0);
}

/* Media query for tablet-sized screens */
@media (max-width: 768px) {
  .all-image-container {
    grid-template-columns: repeat(4, auto);
  }

  .first-image-div {
    height: 210px !important;
    width: 210px !important;
  }

  .other-image-div,
  .file-label {
    height: 100px !important;
    width: 100px !important;
  }
}

/* Media query for mobile devices */
@media (max-width: 480px) {
  .all-image-container {
    grid-template-columns: repeat(3, auto);
  }

  .first-image-div {
    height: 223px !important;
    width: 223px !important;
  }

  .other-image-div,
  .file-label {
    height: 100px !important;
    width: 100px !important;
  }
}